header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $headerBackground;
    height: 40vh;
    padding: 70px;
    color: $secondary;
    text-shadow: 2px 2px 1px $primary;
    border-bottom: 4px solid $primary;
    box-shadow: 0 5px 10px $primary;
    position: relative;
    z-index: 10;
    transition: all 1s;

    // TODO keep search bar at the top of the screen

    h1, h2 {
        font-weight: 600;
        margin: 0;
        position: relative;
        z-index: 10;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    form {
        margin: 30px;
        font-size: 2rem;
        position: relative;

        label {
            // change colour?
            font-weight: bold;
        }

        input[type=text] {
            font-family: 'Quicksand', sans-serif;
            color: $primary;
            border: 2px solid $accent1;
            border-radius: 10px;
            padding: 5px 10px;
        }
        
        input[type=submit] {
            font-family: inherit;
            color: $bodyBackground;
            background: $accent1;
            border: 2px solid $accent1;
            border-radius: 10px;
            padding: 5px 10px;
            cursor: pointer;

            &:hover, &:focus {
                background: $primary;
                border: 2px solid $primary;
            }
        }

    }
    
    .branch {
        font-size: 30rem;
        color: $accent2;
        text-shadow: none;
        transform: rotate(60deg);
        position: absolute;
        top: 0;
        left: calc(50% - 50px);
        transition: top 1s;
    }
}

.homePage {
    height: 100vh;
    border: none;

    .branch {
        top: calc(50vh - 150px);
    }
}