/* WHAT'S NOT IN THE SETUP SNIPPET? 
    - wrapper
    - body: 62.5%?
    - go through old projects
        - make note in snippets file of what snippets need to be made
*/

/* TODO
    - wrapper
        -> which html elements get the class of wrapper?
    - style imageContainer
    - find font(s) from Google
    - hover state over .searchResults so the user knows that the can click on the image/names for more information
        -> "Click me!" message?

    - plantContainer hierarchy
        - searchResults
            ->
        - imageContainer
            -> img stylings
            -> container size
        - h3
        - h4
*/

.plantSearch {
    display: flex;
    // for when addition information is requested, float that information to the right
    // float: left;
}


// SECTION plant container search results

.plantContainer {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    min-height: calc(60vh - 52px);
    margin: 30px auto;
    transition: width 1s;


    /* .searchResults */
    .searchResults {
        height: 396px;
        background: $accent1;
        text-align: center;
        border: 3px solid $primary;
        border-radius: 10px;
        box-shadow: 0 5px 10px $primary;
        margin: 15px auto;
        padding: 10px;
        position: relative;

        /* .imageContainer */
        .imageContainer {
        /* TODO make size responsive */
        width: 300px;
        height: 300px;
        border: 3px solid $primary;
        border-radius: 10px;
        }
        
        .imageContainer img {
        width: 100%;
        height: 100%;
        border-radius: 7px;
        /* background-size: cover; */
        background-position: center;
        /* NOTE make sure that the images aren't squished/stretched */
        }

        .textContainer {
            display: inline-block;
            background: $secondary;
            padding: 5px 10px;
            margin-top: 10px;
            border: 3px solid $primary;
            border-radius: 10px;
        }
        
        h3, h4 {
        color: $primary;
        // text-shadow: 1px 1px 2px $rosewood;
        }
        
        h3 {
        font-size: 2rem;
        margin-bottom: 0;
        }
        
        h4 {
        margin-top: 0;
        font-size: 1.8rem;
        font-style: italic;
        font-weight: 400;
        }

        .overlay {
            display: flex;
            background: $primaryOverlay;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;

            .moreInfo {
                background: transparent;
                font-family: inherit;
                font-size: 2.5rem;
                font-weight: bold;
                color: $accent2;
                text-decoration: underline;
                border: none;
                padding: 20px;
                cursor: pointer;
            }
        }

        &:hover .overlay {
            opacity: 1;
        }
    }
    
}

// when additional information on a plant is requested, shrink the width of the plantContainer so the additional infomation doesn't overlap any of the plants
.narrowView {
    width: calc(100% - 395px);
    margin: 30px 0;
}

// error message
.errorMessage {
    background: $accent2;
    align-self: center;
    font-size: 2rem;
    font-weight: 700;
    color: $primary;
    border: 2px solid $primary;
    border-radius: 10px;
    box-shadow: 0 5px 10px $primary;
    padding: 20px;
}

/* NOTE common rush (juncus effusus) image is a screenshot; find a way to get rid of the black bars */
// !SECTION plant container search results

