// import setup and global snippets
@import 'setup';
@import 'global';

// import main styles
    // TODO rename file as appropriate
@import 'header';
@import 'main';
@import 'plantInfo';

// SECTION footer styles
footer {
    background: $headerBackground;
    font-size: 2rem;
    font-weight: 600;
    color: $secondary;
    text-shadow: 2px 2px 1px $primary;
    border-top: 4px solid $primary;
    box-shadow: 0 -5px 10px $primary;
    padding: 20px;

    a {
        text-decoration: none;
        color: inherit;

        &:hover, &:focus {
            text-decoration: underline;
            color: $accent1;
        }
    }
}
